VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_PUBLISHABLE_KEY=your_sb_publishable_key
SUPABASE_SECRET_KEY=your_sb_secret_key
VITE_ADMIN_USER=admin@regilaqua.in
VITE_ADMIN_PASS=your_admin_password
